@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a ChkListCursos</h1>
    <p class="lead">Bienvenido, porfavor inicia sesión en la sección correspondiente</p>
</div>

<p><button onclick="location.href='../AccesoTrabajador/Login.aspx';" heigth="1000 " class="btn btn-primary btn-block"> <img src="https://cdn-icons-png.flaticon.com/512/2450/2450449.png" height="80" width="100" /> <br /> Iniciar sesión como trabajador &raquo;</button></p>
<p><button onclick="location.href='../AccesoInstructor/Login.aspx';" heigth="1000 " class="btn btn-primary btn-block"> <img src="https://cdn-icons-png.flaticon.com/512/46/46139.png" height="80" width="90" /> <br /> Iniciar sesión como instructor &raquo;</button></p>
<p><button href="https://asp.net" heigth="1000 " class="btn btn-primary btn-block"> <img src="https://cdn-icons-png.flaticon.com/512/2942/2942813.png" height="80" width="100" /> <br /> Iniciar sesión como administrador &raquo;</button></p>
